@font-face {
    font-display: swap;
    font-family: 'Stark';
    font-style: normal;
    src: url('../fonts/Stark.otf') format('opentype');
}

@font-face {
    font-display: swap;
    font-family: 'Stark';
    font-style: italic;
    src: url('../fonts/Stark-Italic.otf') format('opentype');
}

/* * {
    outline: 1px solid red;
  } */

body {
    font-family: 'Stark', sans-serif, Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    scroll-behavior: smooth;

}

h1 {
    font-size: 5.5em;
    font-style: normal;
    margin: 0;
}

h2 {
    font-size: 3em;
    font-style: normal;
    margin: 0;
}

h3 {
    font-size: 2em;
    font-style: normal;
    margin: 0;
}

p {
    font-size: 1.5em;
    font-style: normal;
    margin: 0;
}

#scrolly-video {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-bottom: 50%;
    overflow: hidden;
    z-index: -100;
    -webkit-mask-image: linear-gradient(#fff 85%, transparent);
    mask-image: linear-gradient(#fff 85%, transparent);
}

.bkg-video {
    -webkit-mask-image: url(../img/ssstar.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: 0vh;
    -webkit-mask-clip: content-box;
    -webkit-mask-origin: content-box;
    mask-image: url(../img/ssstar.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 0vh;
    mask-clip: content-box;
    mask-origin: content-box;
    /* transition: all 0.2s ease-in-out; */
}

.logo img{
    display: block;
    margin: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

nav.open {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

nav ul {
    list-style: none;
    text-align: center;
    padding: inherit;
}

nav ul li {
    margin: 1.5em 0;
}

nav ul li a {
    color: #fff;
    font-size: 2.5em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

nav ul li a:hover {
    color: #f00;
}

/* write responsive hamburger menu with tranparent transition */
.hamburger label {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    z-index: 100;
    display: block;
    cursor: pointer;
}

input#ham {
    display: none;
}

.hamburger {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    z-index: 100;
    display: block;
    cursor: pointer;
}

.hamburger .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5em;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(0 0 0.5em #000);
    
}

.hamburger .line:nth-child(1) {
    top: 0;
    transform: translateY(0%);
}

.hamburger .line:nth-child(2) {
    top:50%;
    transform: translateY(0%);
}

.hamburger .line:nth-child(3) {
    top: 100%;
    transform: translateY(0%);
    
}

label.hamburger.open .line:nth-child(1) {
    top: 80%;
    transform: translateY(-50%) rotate(45deg);
}


/* create transparent hero section */

.hero {
    position: relative;
    width: 100%;
    height: 130vh;
    background-color: #000;
    background-image: url("https://picsum.photos/200/300.webp?random=1&grayscale");
    /* background-size: cover; */
    background-repeat: space;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 1em;
}

.top {
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 50vh;
    background-color: #c68c8c;
    background-image: url(https://images.unsplash.com/photo-1681776650206-9e13ecc237b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    /* -webkit-mask-image: linear-gradient(transparent, #fff);
    mask-image: linear-gradient(transparent, #fff); */
    /* -webkit-mask-image: repeating-linear-gradient(45deg, black, transparent 100px);
    mask-image: repeating-linear-gradient(45deg, black, transparent 100px) */
    
}

.gallery {
    --s: 16vw; /* control the size */
    --g: 1vw;  /* control the gap */
    --f: 2.5;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
    padding: calc(var(--s)*var(--f)/2);
  }
  
  .gallery > a > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery > a > img:hover{
    filter: grayscale(0);
    width:  calc(var(--s)*var(--f));
    height: calc(var(--s)*var(--f));
  }

  .middle {
    display: grid;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(https://images.unsplash.com/photo-1681776650206-9e13ecc237b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    /* -webkit-mask-image: linear-gradient(transparent, #fff);
    mask-image: linear-gradient(transparent, #fff); */
    /* -webkit-mask-image: repeating-linear-gradient(45deg, black, transparent 100px);
    mask-image: repeating-linear-gradient(45deg, black, transparent 100px) */
  }

  .swiper {
    max-width: 80vw;
    height: 40vh;
    align-items: center;
  }

    .swiper-slide swiper-slide{
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-next, .swiper-button-prev {
        color: #fff;

    }

    .bottom {
        display: grid;
        place-content: center;
        width: 100%;
        min-height: 50vh;
        background-color: #c68c8c;
        background-image: url(https://images.unsplash.com/photo-1681776650206-9e13ecc237b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-blend-mode: color-burn;
        /* -webkit-mask-image: linear-gradient(transparent, #fff);
        mask-image: linear-gradient(transparent, #fff); */
        /* -webkit-mask-image: repeating-linear-gradient(45deg, black, transparent 100px);
        mask-image: repeating-linear-gradient(45deg, black, transparent 100px) */
    }

    .slice {
        -webkit-mask-image: linear-gradient(to bottom, transparent, #000),
        linear-gradient(to top, #000, transparent),
        linear-gradient(to bottom, transparent, #000),
        linear-gradient(to top, #000, transparent),
        linear-gradient(to bottom, transparent, #000);
        -webkit-mask-size: 18% 80%;
        -webkit-mask-position: 0 100%, 25% 25%, 50% 50%, 75% 0, 100% 50%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-image-orientation: from-image;

        mask-image: linear-gradient(to bottom, transparent, #000),
        linear-gradient(to bottom, #000, transparent),
        linear-gradient(to bottom, transparent, #000),
        linear-gradient(to bottom, #000, transparent),
        linear-gradient(to bottom, transparent, #000);
        mask-size: 18% 70%;
        mask-position: 0 100%, 25% 25%, 50% 50%, 75% 0, 100% 50%;
        mask-repeat: no-repeat;
        background-blend-mode: normal;
        background-color: #000;
        filter: grayscale(80%);
  }

  img.slice {
    max-width: 90vw;
    height: auto;
    margin: 2rem;
  }

.footer {
    display: flex;
    background-color: #000;
    align-items: center;
    /* -webkit-mask-image: linear-gradient(transparent, #fff);
    mask-image: linear-gradient(transparent, #fff); */
    /* -webkit-mask-image: repeating-linear-gradient(45deg, black, transparent 100px);
    mask-image: repeating-linear-gradient(45deg, black, transparent 100px) */
  }

    .footer-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #000;
        padding: 1em;
    }

    .footer-links ul {
        margin: 0 auto;
        padding-inline-start: initial;
    }

    .footer-links ul li{
        display: inline-block;
        list-style: none;

    }

    .footer-links a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
    }

    .footer-links a:hover {
        color: #c68c8c;
    }

.scroll-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding: 1.5rem;
    border: none;
    border-radius: 50%;
    background-color: #c68c8c;
    mix-blend-mode: difference;
    color: #000;
    cursor: pointer;
    transition: .35s linear;
    opacity: 0;
    visibility: hidden;
}

.scroll-btn:hover {
    background-color: #fff;
    color: #c68c8c;
}

.show {
    opacity: 1;
    visibility: visible;
}













